<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="row">
	<div class="span4">
		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
		  <%= f.error_notification %>
		  <%= f.input :name, :autofocus => true %>
		  <%= f.input :email, :required => true %>
		  <%= f.input :password, :autocomplete => "off", :required => false %>
		  <%= f.input :password_confirmation, :required => false %>
		  <%= f.input :current_password, :required => true %>
		  <%= f.button :submit, 'Update', :class => 'btn-primary' %>
		<% end %>
	</div>

	<div class="span3">
		
		<div class="thumbnail">
		  <%= link_to image_tag(avatar_url(resource)), "http://gravatar.com/emails/",
		  :title => "Change you avatar at gravatar.com", :target => "_blank",
		  :rel => "tooltip", :'data-placement' => "bottom", :class => "thumbnail" %>
		  <div class="caption">
		  	<b><%= resource.name %></b>
		  </div>
		</div>
	</div>
</div>

<%= link_to "Back", :back %>