<%- model_class = Discussion -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<h4><%= @discussion.title %></h4>
<p><%= @discussion.post %></p>
<p><%= link_to "Edit", edit_discussion_path(@discussion), :class => 'btn btn-mini' %> | <%= link_to("Delete", @discussion, :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') %></p>
<strong>Started by <%= link_to @discussion.user.name, user_path(@discussion.user) %></strong>

<div id="disqus_thread"></div>
<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var disqus_shortname = 'nairuby'; // required: replace example with your forum shortname

	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

