<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @discussion.title %>
</p>

<p>
  <b>Post:</b>
  <%= @discussion.post %>
</p>


<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
